.section-offer {
    min-height: 80vh;
    background: url(../Samsung-Images/Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    .offer-heading h4 {
        text-align: center;
        padding: 1rem;
    }

    .offer-content h2 {
        text-align: center;
        font-size: 2rem;
    }

    .offer-content p {
        text-align: center;
        padding: 1rem;
    }


    .btn {
        color: black;
        background-color: white;
        border: none;
        border-radius: 2rem;
        padding: .5rem 2rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;

        & img {
            width: 1.1rem;
        }
    }
}