.bcc-img {
    background: url(../Samsung-Images/week45_HP-KV-Mo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: center;
    padding: 0rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        color: white;
        font-size: 2rem;
        padding-top: 2rem;
    }
    & p {
        padding: 1rem;
        color: white;
        font-size: .8rem;
    }

    .btn {
        color: black;
        background-color: white;
        border: none;
        border-radius: 2rem;
        padding: .5rem 2rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
    }
}